<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_KEY" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoX2lkIjoyLCJ3c2lkIjoiNTUwMDk4MTM2IiwiZW1haWwiOiJ6aGFuZ2VAMzAwNjI0LmNuIiwiYXVkIjoiMGI3NWY2Y2JkODk2ZjZmNzI2ZjUxNGNhOTI3YTRhZWYiLCJleHAiOjE2NTEyMTM4NTgsImp0aSI6ImUwMTgxOWY5MGFiOTI4MmNhYTVhZDgyZmNlNGFkNmY3IiwiaWF0IjoxNjE5Njc3ODU4LCJpc3MiOiJtZWRpYS5pbyIsIm5iZiI6MTYxOTY3Njg1OCwic3ViIjoiYzgxZTcyOGQ5ZDRjMmY2MzZmMDY3Zjg5Y2MxNDg2MmMifQ.GXrTTWujVnZGhJfJjJxBtnxqh6r6WzPe60P2jk8MTgk" force="true"/>
	</php>
</phpunit>
